/* css here */
.i_cancel_body {
    min-height: 100vh;
    color: #373737;
    margin: 0;
    padding: 0;
}
.i_my_container {
    background: #fefefe;
    padding-bottom: 30px;
    box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
    width: 600px;
    border-radius: 5px;
}
.form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
}
.price_option1,
.price_option2,
.price_option3,
.price_option4,
.price_option5 {
    background-color: #e96725;
    color: #fff;
    cursor: pointer;
    min-width: 60px;
}
.checked_price {
    background-color: #063464;
    color: #fff;
}
.i_heading_main span,
.i_funds_heading,
.i_details_heading {
    text-transform: none;
    font-size: 30px;
    font-weight: normal;
    font-style: italic;
    font-family: "Playfair Display", "Bookman", serif !important;
    color: #e96725;
    letter-spacing: -0.005em;
    word-spacing: 1px;
    letter-spacing: none;
}
.i_balance_div,
.i_price_div {
    display: flex;
}
.i_body_details {
    min-height: 100vh;
    color: #373737;
    margin: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#543093", endColorstr="#d960ae", GradientType=1);
}
.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
    background-color: #fff !important;
}
.accordion-collapse.show {
    border-top: 1px solid #dee2e6;
}
.i_my_container2 {
    background: #fefefe;
    padding-bottom: 30px;
    box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    border-radius: 5px;
}
.i_funds_body {
    min-height: 100vh;
    height: 100%;
    color: #373737;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#543093", endColorstr="#d960ae", GradientType=1);
}
.inventory_body {
    min-height: 55vh;
    height: 100%;
    color: #373737;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#543093", endColorstr="#d960ae", GradientType=1);
}
.i_text_color {
    color: #063464;
}
#i_svg {
    max-width: 90%;
    position: relative;
    left: 5%;
    margin: 0 auto;
}
.i_bottom {
    text-align: center;
    margin-top: 0em;
    max-width: 70%;
    position: relative;
    margin: 0 auto;
}
.i_bottom h2 {
    font-family: "Rokkitt", sans-serif;
    letter-spacing: 0.05em;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 0.25em;
}
.i_bottom p {
    color: #777;
    letter-spacing: 0.1em;
    font-size: 16px;
    line-height: 1.4;
    margin: 0 auto 2em;
}
.i_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.i_buttons button {
    padding: 10px 30px;
    font-size: 20px;
    background-color: #e96725;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    letter-spacing: 0.1em;
    color: #fff;
    margin-right: 20px;
    margin-bottom: 15px;
    transition: all 0.25s ease-in-out;
}
.i_buttons button:hover {
    background-color: #000;
}
.i_buttons button#cancel {
    margin-right: 0;
    color: #333;
    background-color: #eddfeb;
}
.i_buttons button#cancel:hover {
    background-color: #dbbed7;
}
.i_buttons button#go-back {
    display: none;
}
.i_buttons button:focus {
    border: none;
    outline: 0;
}
.inner-container {
    width: 100%;
}
.i_sub_container {
    width: 600px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
    box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.container_add {
    width: 800px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
    box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.container_receive {
    width: 800px;
    background: #fefefe;
    display: flex;
    box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    height: 100%;
}
.container_withdraw {
    width: 800px;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
    box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.container_upload_field {
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 30px;
    box-shadow: 5px 10px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.upload_field_table {
}
.table_parent {
    overflow-x: auto;
}
.select_dropdown {
    border: none;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    font-weight: bold;
}
#blob-3,
#blob-2,
#mouth-happy,
#mouth-sad,
#eyebrow-happy-left,
#eyebrow-happy-right,
#eyes-laughing,
#open-mouth,
#tongue,
#mouth-scared {
    display: none;
}
.i_balance_div {
    display: flex;
}
.i_first_section {
    display: flex;
}
.i_heading_main h1 {
    color: #063464;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.body_subscribtion {
    min-height: 100vh;
    color: #373737;
    margin: 0;
    padding: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#543093", endColorstr="#d960ae", GradientType=1);
}
.i_link {
    box-shadow: none !important;
}
@media (max-width: 699px) {
    .i_container,
    .container_withdraw,
    .container_receive,
    .container_add {
        width: 90%;
    }
    .i_bottom {
        margin-top: 1em;
        max-width: 90%;
    }
}
@media (max-width: 399px) {
    .i_container {
        padding: 20px;
    }
    .i_bottom h2 {
        font-size: 24px;
    }
    .i_buttons {
        flex-direction: column;
    }
    .i_buttons button {
        margin-right: 0;
    }
    #i_svg {
        padding-top: 0;
    }
    .i_balance_div {
        display: block;
    }
}
@media (max-width: 450px) {
    .i_price_div {
        display: block;
        text-align: center;
    }
    .i_price_div div {
        margin: auto;
        margin-top: 10px;
    }
}
@media (max-width: 992px) {
    .i_first_section {
        display: block;
    }
    .i_my_container2 {
        width: 600px;
        margin-top: 30px;
        overflow-x: scroll;
    }
}
  .tick_pic {
    width: 50%;
    height: 40%;
  }
  .ty_heading{
    font-family: 'Kaushan Script', cursive;
    font-size:4em;
    letter-spacing:3px;
    color: #063464;
    margin:0;
    margin-bottom:20px;
   }
   .wrapper-2 p{
    margin:0;
    font-size:1.3em;
    color:#aaa;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
  }
  .go-home{
    color:#fff;
    background:#063464;
    border:none;
    padding:10px 50px;
    margin:30px 0;
    border-radius:30px;
    text-transform:capitalize;
    box-shadow: 0 3px 5px 1px #063464;
  }
  .go-home a {
    color: #fff !important;
  }
  #folder {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.uploader_label {
    background-color: white;
    color: #007fff;
    padding: 1rem 2rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 1.5rem;
    box-shadow: 4px 4px 16px 0 rgba(100, 100, 100, 0.15), -2px -2px 12px 0 rgba(200, 200, 200, 0.1);
    transition: all 0.3s ease-in-out;
}
.import_heading {
    color: #007fff;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.parse_btn {
    background-color: #007fff;
    color: #fff;
}
.table-container {
    width: 100%;
    overflow-x: auto;
  }

  .table {
    border-collapse: collapse;
    width: 100%;
  }

  .table th, .table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }


  .table tr:nth-child(odd) {
    background-color: #3d95ee9d;
    color: #fff;
  }

.main_div {
    /* background-color: #f2f5f6; */
    min-height: 100vh;
}
.filter_div {
    background-color: #fff;
    display: flex;
}
.details_table {
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;

    /* overflow-x: scroll;
    max-width: 100vw; */
}
.details_table tr {
    border-bottom: 10px solid #fff;
}
.details_table td, .details_table th {
    padding: 10px;
}
.details_table th {
    color: #008EE2;
}
.product_image {
    width: 50px;
    height: 50px;
}
.header {
    height: 65px;
    background-color: #063464;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header h4 {
    color: #fff !important;
}
.filter_div select {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), inset 0 -1px 0 0 #dadce0;
    padding: 5px;
}
.filter_div select, .filter_div select:focus {
    border: none;
    outline: none;
}
.search_parent .search_bar {
    width: 100%;
}
.search_parent {
    /* width: 50%; */
    margin: auto;
}
.link_div a {
    text-decoration: none;
}
.button_color {
    background-color: #e96725;
    color: #fff;
}
.button_color:hover {
    background-color: #000;
    color: #fff;
    opacity: 90%;
}
.search_bar {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.search_btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
table input {
    max-width: 100px;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
.accordion-button:not(.collapsed) {
    background-color: #f2f5f6;
}
.accordion-button {
    background-color: #f2f5f6;
}
.accordion-button:focus {
    border: none;
    box-shadow: none;
}
input:focus {
    box-shadow: none !important;
    border-color: #413f3f !important;
}
.main_area_table {
    width: 90%;
}
.table_overflow {
    overflow-x: auto;
}
.fulfil_filter {
    width: 50%;
}
.second_filter_form {
    display: flex;
}
.first_table_body {
    background-color: #fff;
}
@media screen and (max-width: 600px) {
    .first_table_body {
        display: grid;
    }
    .fulfil_filter {
        width: 100%;
    }
    .filter_div {
        display: block;
    }
}
@media screen and (max-width: 450px) {
    .second_filter_form {
        display: grid;
    }
}
.text-secondary {
    color: #797c8098!important;
}
.filters_sec span {
    display: block;
}
.min_width_btn {
    min-width: 190px;
}